RewriteEngine On
# Para ocultar a extensão .php de arquivos específicos
RewriteRule ^agenda$ agenda.php [L]
RewriteRule ^index$ index.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^dashboard$ dashboard.php [L]